@font-face {
    font-family: Delicious;
    src: url('assets/other/ALBAS___.TTF');
}

body {
    background: url('assets/imgs/casino.jpg') no-repeat 100% auto;
}

*, ::before, ::after {
    font-family: Delicious;
    font-size: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

.slot-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    border: 5px solid salmon;
    height: 500px;
    border-radius: 15px;
    background: #F3F4F0;
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Hide the overflowing part of the spinning column */
    height: 100%;
    background-color: gray;
    text-align: center;
    font-size: 45px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.slot {
    height: 33.33%;
    overflow: hidden;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
    font-size: 45px;
}

.slot, .slot-dup {
    position: absolute; /* Absolute positioning */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slot-dup {
    display: none; /* Initially hide .slot-dup */
}

.container-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background: hsla(213, 100%, 81%, 1);
    border-radius: 10% 10% / 50% 50%;
}

.bet-increase, .bet-decrease {
    height: 75px;
    width: 200px;
    justify-self: center;
}

.bet-increase {
    grid-area: 1 / 1 / 3 / 4;
    border-radius: 26px 10px 12px;
}

.bet-decrease {
    grid-area: 3 / 1 / 5 / 4;
    border-radius: 5px 24px 120px;
}

.spinBtn {
    grid-area: 1 / 4 / 5 / 7;
    width: 300px;
    height: 100px;
    justify-self: center;
    align-self: center;
    border-radius: 15px;
}

.total {
    grid-area: 1 / 7 / 5 / 10;
    clip-path: polygon(78% 22%, 100% 53%, 100% 100%, 0 100%, 0 22%);
    justify-self: center;
    width: 200px;
    border: none;
}

.alert {
    text-align: center;
    grid-area: 6 / 1 / 8 / 10;
}

img {
    max-height: 200px;
    margin: auto;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    gap: 0.4rem;
    width: 450px;
    z-index: 2;
    top: 20%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
}

.hidden {
    display: none;
}
.box {
    height: 33.33%; /* 1/3rd of the container height so only 3 slots are visible */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.boxes {
    height: 300%; /* 3 times the height for spinning effect */
    transition: transform 1s ease-in-out;
    display: flex;
    flex-direction: column;
}
.music {
    width: 200px;
    margin: auto;
}

.bet-increase,
.bet-decrease, .spinBtn {
    cursor: pointer;
    box-shadow: 7.0px 13.9px 13.9px hsl(0deg 0% 0% / 0.28);
    border: none;
    font-size: 1em;
    position: relative;
    color: white;
    background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
    background-size: 400%;
    background-position: 0% 0%;

    &::before {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        right: -2px;
        bottom: -2px;
        border-radius: 26px;
        background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
        background-size: 500%;
        background-position: 0% 0%;
        filter: blur(10px);
        opacity: 0;
        z-index: -1;
        transition: opacity 0.2s;
    }

    &:hover {
        animation: gradientRotate 2s infinite;

        &::before {
            opacity: 1;
            animation: gradientRotate 2s infinite;
        }
    }

    &:active {
        color: #c3c4d5;
    }

    &:focus {
        &::before {
            opacity: 1;
        }
    }
}
.disabled {
    background-color: grey;
    cursor: not-allowed;
}
@keyframes gradientRotate {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
   @keyframes spin {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-200%);
    }
}

.spin-animation {
    animation: spin 5s linear 1; /* 1 second for each spin */
 }   